<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Policy Name</th>
                <th>Active Mode</th>
                <th>Action</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let policy of policyList; let i = index">
                <td>
                    <input type="text" [(ngModel)] = "policy.name" [disabled] = "policy.name == 'Default' && i == 0">
                </td>
                <td>
                    <label>Firewall</label>
                    <input type="checkbox" 
                    [(ngModel)] = "policy.firewall_module"
                    [disabled] = "policy.name == 'Default' && i == 0">
                    <label>Antivirus</label>
                    <input type="checkbox" 
                    [(ngModel)] = "policy.antivirus_module"
                    [disabled] = "policy.name == 'Default' && i == 0">
                    <label>Update</label>
                    <input type="checkbox"
                    [(ngModel)] = "policy.update_module"
                    [disabled] = "policy.name == 'Default' && i == 0">
                </td>
                <td>
                    <label>Delete</label>
                    <input type="radio" value="delete" name="activeMode{{policy.id}}"
                    [(ngModel)] = "policy.chosen_action" 
                    [disabled] = "policy.name == 'Default' && i == 0">
                    <label>Move to quarantine</label>
                    <input type="radio" value="move_to_quarantine" name="activeMode{{policy.id}}"
                    [(ngModel)] = "policy.chosen_action" 
                    [disabled] = "policy.name == 'Default' && i == 0">
                    <label>Ignore</label>
                    <input type="radio" value="ignore" name="activeMode{{policy.id}}"
                    [(ngModel)] = "policy.chosen_action" 
                    [disabled] = "policy.name == 'Default' && i == 0">
                </td>
                <td>
                    <input type="button" value="Save" (click) = "patchPolicy(policy)" [disabled] = "policy.name == 'Default' && i == 0">
                </td>
                <td>
                    <input type="button" value="Clone" (click) = "clonePolicy(policy)">
                </td>
                <td>
                    <input type="button" value="Delete" (click) = "deletePolicy(policy.id)" [disabled] = "policy.name == 'Default' && i == 0">
                </td>
            </tr>
        <tbody>
    </table>
</div>
