<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Policy Name</th>
                <th>Active Mode</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let policy of policyList">
                <td>
                    <input type="text" [(ngModel)] = "policy.name" [disabled] = "policy.name == 'Default' && policy.id == 45">
                </td>
                <td>
                    <label>Firewall</label>
                    <input type="radio" value="firewall" name="activeMode{{policy.id}}"
                    [(ngModel)] = "policy.moduleActive" [disabled] = "policy.name == 'Default' && policy.id == 45">
                    <label>Antivirus</label>
                    <input type="radio" value="antivirus" name="activeMode{{policy.id}}"
                    [(ngModel)] = "policy.moduleActive" [disabled] = "policy.name == 'Default' && policy.id == 45">
                    <label>Update</label>
                    <input type="radio" value="update" name="activeMode{{policy.id}}"
                    [(ngModel)] = "policy.moduleActive" [disabled] = "policy.name == 'Default' && policy.id == 45">
                </td>
                <td>
                    <input type="button" value="Save" (click) = "patchPolicy(policy)" [disabled] = "policy.name == 'Default' && policy.id == 45">
                </td>
                <td>
                    <input type="button" value="Clone" (click) = "clonePolicy(policy)">
                </td>
                <td>
                    <input type="button" value="Delete" (click) = "deletePolicy(policy.id)" [disabled] = "policy.name == 'Default' && policy.id == 45">
                </td>
            </tr>
        <tbody>
    </table>
</div>
